<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331622004280-hceas5p5rs508bqrvr02t3qrhpr1u2nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331622004280-hceas5p5rs508bqrvr02t3qrhpr1u2nf</string>
	<key>API_KEY</key>
	<string>AIzaSyDCj9v1IG1eqKXtKljD6XdsTIfa8RvvrGU</string>
	<key>GCM_SENDER_ID</key>
	<string>331622004280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>coriander-app-d3ff2</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander-app-d3ff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:331622004280:ios:eadacd0a9c96da74d998cd</string>
	<key>DATABASE_URL</key>
	<string>https://coriander-app-d3ff2.firebaseio.com</string>
</dict>
</plist>
